body {
  margin: 0;
  padding: 0;
  background-color: #0c0c1d;
  font-family: sans-serif;
  color: white;
  text-align: center;
}
.container {
  margin-top: 50px;
}
input {
  width: 60%;
  padding: 10px;
  font-size: 18px;
}
button {
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 18px;
  cursor: pointer;
}
#result img {
  margin-top: 20px;
  max-width: 90%;
  border: 2px solid white;
}
